body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #F2F2F2;
}

#navbar {
    background-color: #8F3629;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0;
}

.logo-navbar {
    height: 50px;
    margin-left: 2px;
}

.menu-desk {
    list-style: none;
    margin-right: 3%;
}

.li-menu-desk {
    display: inline-block;
    margin-right: 5px;
}

.li-menu-desk > a {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 13px;
}

.li-menu-desk > a:hover {
    text-decoration: none;
    color: #C2F2D7;
    font-weight: bold;
    font-size: 15px;
}

.container-section {
    height: 30vh;
    position: relative;
    display: flex;
    margin-top: 60px;
    display: flex;
}

.img-section {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.title-section {
    position: absolute;
    color: #f2f2f2;
    text-shadow: 0px 0px 5px #0d0d0d;
    font-size: 20px;
    margin: 10% 0% 0% 3%;
    width: 200px;
}

.text-redes > a{
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 17px;
}

.text-redes > a:hover{
    text-decoration: none;
    color: #C2F2D7;
    font-weight: bold;
    font-size: 17px;
}

.redes {
    list-style: none;
}

.fa-brands {
    margin-right: 5px;
}

.container-redes {
    margin-left: 30px;
}

#footer {
    background-color: #8F3629;
    height: 150px;
    display: flex;
    align-items: center;
}

.credits-developer {
    background-color: #f2f2f2;
}

.logo-footer {
    height: 70px;
    right: 0;
    margin-right: 60px;
}

@media only screen and (min-width: 550px) {
    #navbar {
        background-color: #8F3629;
        width: 100%;
        height: 60px;
        display: flex;
        position: fixed;
        z-index: 100;
    }

    .li-menu-desk {
        display: inline-block;
        margin-right: 20px;
    }

    .li-menu-desk > a {
        text-decoration: none;
        color: #0D0D0D;
        font-weight: bold;
        font-size: 15px;
    }

    .menu-desk {
        list-style: none;
        margin-right: 3%;
        position: absolute;
        right: 0;
    }

    .title-section {
        position: absolute;
        color: #f2f2f2;
        text-shadow: 0px 0px 5px #8F3629;
        font-size: 20px;
        width: 250px;
        margin: 10% 0% 0% 3%;
    }

    .container-slideshow {
        margin-top: 20px;
        width: 100%;
        height: 300px;
        background-color: #8F3629;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .img-slider {
        height: 250px;
        width: 30%;
        object-fit: cover;
    }
    .container-products {
        background-color: #f2f2f2;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        grid-template-rows: repeat(auto-fill, 400px);
        margin: 5px;
        grid-gap: 5px;
    }
    
    .product {
        border: 1px solid #0d0d0d;
        grid-template-rows: 240px;
        background-color: #118c462f;
        display: grid;
    }
    
    .img-product {
        object-fit: cover;
        margin-top: 5px;
        width: 100%;
        height: 100%;
        align-self: center;
    }
    
    .title-product {
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
        color: #8F3629;
        text-shadow: 0px 0px 5px #f2f2f2;
    }
    
    .description-product {
        font-weight: bold;
        padding: 5px;
        font-size: 13px;
        color: #0D0D0D;
    }
    
    .btn-product {
        background-color: #8F3629;
        color: #f2f2f2;
        font-weight: bold;
        font-size: 10px;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 10px;
        margin-left: 25%;
        margin-bottom: 4%;
    }
    
    .price-product {
        font-weight: bold;
        font-size: 12px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
    
    .my-float {
        color: #0d0d0d;
        border-radius: 50px;
        font-size: 20px;
        right: 5px;
        bottom: 5px;
        position: absolute;
    }
  }

  @media only screen and (min-width: 800px) {
    .title-section {
        position: absolute;
        color: #f2f2f2;
        text-shadow: 0px 0px 5px #8F3629;
        font-size: 40px;
        width: 500px;
        margin: 20% 0% 0% 3%;
        }
  }

  @media only screen and (min-width: 1500px) {
    .title-section {
        position: absolute;
        color: #f2f2f2;
        text-shadow: 0px 0px 5px #8F3629;
        font-size: 40px;
        width: 600px;
        margin: 20% 0% 0% 3%;
    }
}